beautifulsoup4
bootstrap-flask
deepl
email-validator
Flask
Flask-SQLAlchemy
Flask-WTF
ftfy
openai
pandas
prettytable
pprintpp
pyperclip
pyshorteners
pytz
python-dotenv
requests
requests-cache
retry
selenium
spotipy
twilio
